<body>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-K8JJ7XMMLV"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-K8JJ7XMMLV');
    </script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="description" content="Web VR game. Swing the Light Saver. Bounce the blaster gun.">

    <meta name="twitter:title" content="Light Saber VR" /> 
    <meta name="twitter:description" content="Web VR game. Swing the Light Saver. Bounce the blaster gun." /> 
    <meta name="twitter:image" content="https://saber.devent.kr/public/preview.png" /> 

    <meta property="og:description" content="Web VR game. Swing the Light Saver. Bounce the blaster gun.">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="en_US">
    <meta property="og:title" content="Light Saber VR">
    <meta property="og:site_name" content="Light Saber VR">
    <meta property="og:url" content="https://saber.devent.kr"/>
    <meta property="og:image" content="https://saber.devent.kr/public/preview.png">
    <meta property="og:image:secure_url" content="https://saber.devent.kr/public/preview.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="300">
    <meta property="og:image:height" content="300">
    

    <title>Light Saber</title>

</body>

<div id="app"></div>
<div id="screen"></div> 